html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(58, 74, 105, 1);
  margin: 0;
  padding: 0;
}

.main-section {
  position: absolute;
  left: 184px;
  right: 0px;
  top: 9.96%;
  bottom: 10.55%;

  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
}

.tribute {
  position: absolute;
  width: 374.18px;
  height: 62.43px;
  left: 286.87px;
  top: 139px;
  bottom: 822px;
  right: 780px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.285em;

  color: #000000;

  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#title {
  position: absolute;
  width: 384px;
  height: 50px;
  right: 135.5px;
  top: 261px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 50px;

  color: #000000;
  height: 50px;
  width: 384px;
  left: 922.5px;
  top: 261px;
  border-radius: nullpx;
}

#img-div {
  position: absolute;
  width: 522.57px;
  height: 347px;
  left: 287.4px;
  top: 257px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

#img-caption {
  position: absolute;
  width: 522.57px;
  height: 69px;
  left: 289.4px;
  top: 656px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;

  color: #000000;
}

#tribute-info {
  position: absolute;
  width: 384px;
  height: 88px;
  right: 135.5px;
  top: 355px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.085em;
}

#years {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 335px;
  height: 75px;
  right: 184.5px;
  top: 471px;

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#image {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#tribute-link {
  position: absolute;
  width: 111.34px;
  height: 24.34px;
  right: 223.35px;
  top: 145.84px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

#tribute-link1 {
  position: absolute;
  width: 63.46px;
  height: 24.31px;
  right: 130.84px;
  top: 145.68px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;

  color: #000000;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

Image {
  position: absolute;
  width: 522.57px;
  height: 347px;
  left: 284px;
  top: 257px;

  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}
